<% include layout/header %>

<main role="main">
  <div class="data-table">
  	 <div class="search">
    Search <input type="text" name="searchBook" id="searchBook" class="input" placeholder="Search Book" />   
	 <div class="bookresult" style="display: none;position: absolute;background-color: #ccc;border-radius: 5px;padding: 5px;">
		<table id="searchResult">
			<tr><th>Username</th><th>Password</th><th>SendRequest</th></tr>

		</table>
        
        
      </div>
   <table border="1" cellpadding="7" cellspacing="7" >
   <tr>
   <td>
   No
   </td>
   <td>
   Username
   </td>
   <td>
   Password
   </td>
   <td>
   User Image
   </td>
   
    <td>
   Action
   </td>
   </tr>
   
      <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>                 
                
                    
                    
                    
                       <tr>
   <td>
   <%=data[i]['id'] %>
   </td>
   <td>
   <%=data[i]['username'] %>
   </td>
   <td>
   <%=data[i]['password'] %>
   
   </td>
    <td>
    <img src="images/<%=data[i]['image_name'] %>" height="100" width="100" />
   
   </td>
      <td>
                        <a class="a-inside edit" href="../users/edit/<%=data[i].id%>">Edit</a>
                       
                        <a class="a-inside delete" href="../users/delete/<%=data[i].id%>">Delete</a>
                       
                    </td>
   </tr>
                    
                    
                
            <% }
            
             }else{ %>
                 
                   <tr>             
                   <td colspan="3">
                   No user
                   </td>
                   </tr>
                   
                   
                   
                   
                                   
            <% } %>
   </table>
   </div>
   
  </main>
 </div>
<% include layout/footer %>

<script type="text/javascript">
	
	$(document).ready(function () {
		
	  
	  $('#searchBook').keyup(function()
  {
  var booktext=$(this).val();
  
  $(".bookresult").show();


  if(booktext!=''){
   
  $.ajax({

          type: "POST",         
          data: {query:booktext},
           url: "/search_user",
          dataType: "JSON",
         // contentType: "application/json; charset=utf-8",
         
          success: function(result){
	               	if(result)
               	{
               		
               		//alert(result.rows[0]['username']);
               		//alert(JSON.stringify(result));
               		//alert(ReturnedData);
               		//alert("username"+result[0].username);
               		/*var count=result.lenght;
               		if(result.lenght>0){
               			alert(count);
               		}else{
               			alert(count);
               		}*/
                   $.each(result, function(i, j){
                   	
                   	  $("#searchResult td").each(function() {

      				  text = $(this).text();

      				 if(text==j.username) {
       					 	$(this).closest("tr").remove();
           	
       				   }
       
   					 });
         //         	 $("#searchResult > tbody").html("");
            		 $('#searchResult').append($('<tr><td>'+j.username+'</td><td><a href=#>'+j.password+'</a></td><td><input type=hidden class="booklanderid"  value='+j.id+' /><a href=/book/book_request/'+j.id+' >SendRequest</a></td></tr>'));
       				               
              		   //$('.bookresult').html(j.title);
                      // $('#searchResult tr:last').remove();
                       
                	 });             
                	 

                   $(".bookresult").css("color","green");
                    
                }else{

                       $('.bookresult').html('This Username Is Avaliable');
                       $(".bookresult").css("color","green");
                    
                }
         }

      });
   }else{
		 $("#searchResult > tbody").html("");
		  $('#searchResult').append($('<tr><th>Username </th><th>Password</th><th>Send Request</th></tr>'));
  		  $(".bookresult").hide();
      
        }

   });
	  
	});
	
	
</script>